extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    each staff in staff_list
      li
        |  #{staff.first_name} #{staff.last_name},  
        |  (#{staff.staff_role}) - 
        a(href=staff.staff_id) Detailed Info

    else
      li There are no staffs.
